//colors
$brand-primary: #397ab1;
$grey: #ddd;
$light-grey:  #f9f9f9;
$dark-grey:  #777777;

//sizes
$space: 1.4rem;
$site-max-width: 100rem;
$large-space: 2.8rem;

//header
$header-height: 6rem;

//font sizes
$base-font-size: 1.6rem;
$large-font-size: 2.2rem;

//form inputs
$input-border: $grey;
$input-spacing: 1rem;

// boxed view
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: white;
$boxed-view-border-color: $grey;

//button
$button-bg:$brand-primary;
$button-color:white;
$button-pill-color: $brand-primary;
$button-secondary: $light-grey;
$button-secondary-color: $dark-grey;
$button-secondary-border-color: $grey;

// item
$item-border-width: 4px;

//body
$body-background-color: #fafafa;
$body-default-color: #333333;
$body-default-font: Helvetica, Arial, sans-serif;

//page content
$page--content__sidebar-width: 30rem;
$page--content__main-width: calc(#{$site-max-width} - #{$page--content__sidebar-width});
$page--content__height: calc(100vh - #{$header-height});
