.page--content {
  display: flex;
  height: $page--content__height;
  max-width: $site-max-width;
  margin: auto;
  padding: $space;
}

.page--content__sidebar{
  display: flex;
  width: $page--content__sidebar-width;
}


.page--content__main{
  display: flex;
  width: $page--content__main-width;
}
